In [ ]:
!pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.3.0-py2.py3-none-any.whl (82 kB)
     |████████████████████████████████| 82 kB 447 kB/s
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.0.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.3.0

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
from sklearn.preprocessing import OneHotEncoder

# Loading Data

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/rajap20/streamlit-example/master/data_final.csv')

In [ ]:
df.head(5)

   Customer_id   Date_disb pay_type  ...  net_salary   net_irr fraud
0            0   2/13/2020      ACH  ...    0.158169 -1.321153     0
1            1  06-02-2020      ADM  ...    1.161336 -1.308269     0
2            2  10-02-2020      ADM  ...    0.910545  0.605033     0
3            3  10-02-2020      ADM  ...   -0.544048 -1.098901     0
4            4  10-02-2020      ADM  ...   -0.343415 -0.986164     0

[5 rows x 23 columns]

# Feature Set Selection

In [ ]:
df.columns

Index(['Customer_id', 'Date_disb', 'pay_type', 'area_code', 'pin_code',
       'state', 'dealer', 'product_code', 'tenure', 'roi', 'emi', 'proc_fee',
       'asset_cost', 'loan_amt', 'gender', 'qualification', 'employ_type',
       'resid_type', 'age', 'cibil_score', 'net_salary', 'net_irr', 'fraud'],
      dtype='object')

In [ ]:
x_features = [
              'area_code', 
              'state', 'resid_type', 'net_irr', 'proc_fee',
       'asset_cost', 'loan_amt', 'emi', 'net_salary', 'roi', 'tenure',
       'age']

In [ ]:
cat_features = [
                'area_code', 
                'state', 'resid_type']

In [ ]:
num_features = list(set(x_features) - set(cat_features))
num_features

['asset_cost',
 'emi',
 'loan_amt',
 'tenure',
 'roi',
 'age',
 'proc_fee',
 'net_irr',
 'net_salary']

In [ ]:
df[cat_features] = df[cat_features].astype(object)
df[x_features].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11702 entries, 0 to 11701
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_code   11702 non-null  object
 1   state       11702 non-null  object
 2   resid_type  11698 non-null  object
 3   net_irr     11702 non-null  float64
 4   proc_fee    11702 non-null  float64
 5   asset_cost  11702 non-null  int64
 6   loan_amt    11702 non-null  int64
 7   emi         11702 non-null  float64
 8   net_salary  11702 non-null  float64
 9   roi         11702 non-null  float64
 10  tenure      11702 non-null  float64
 11  age         11698 non-null  float64
dtypes: float64(7), int64(2), object(3)
memory usage: 1.1+ MB

In [ ]:
df = df[x_features + ['fraud']].dropna()
df.shape

(11698, 13)

In [ ]:
from category_encoders import OneHotEncoder


ohe_encoder = OneHotEncoder(cols = cat_features,
                            use_cat_names = True)

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
ohe_encoder.fit(df)
df_encoded = ohe_encoder.transform(df)

In [ ]:
df_encoded

       area_code_3075.0  area_code_3072.0  ...       age  fraud
0                     1                 0  ...  0.306122      0
1                     1                 0  ...  0.551020      0
2                     1                 0  ...  0.530612      0
3                     1                 0  ...  0.224490      0
4                     1                 0  ...  0.224490      0
...                 ...               ...  ...       ...    ...
11697                 0                 0  ...  0.122449      0
11698                 0                 0  ...  0.285714      0
11699                 0                 0  ...  0.306122      0
11700                 0                 0  ...  0.306122      0
11701                 0                 0  ...  0.244898      0

[11698 rows x 106 columns]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
train, test = train_test_split(df_encoded,train_size = 0.8,random_state = 100)

## Finding the best model

Using H2O AutoML Library

Details: https://docs.h2o.ai/h2o/latest-stable/h2o-docs/downloading.html?_ga=2.37321956.534948750.1625291360-92496293.1624088300

In [ ]:
# Installing H2O dependencies
!pip install requests
!pip install tabulate
!pip install "colorama>=0.3.8"
!pip install future

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (0.8.9)
Collecting colorama>=0.3.8
  Downloading colorama-0.4.4-py2.py3-none-any.whl (16 kB)
Installing collected packages: colorama
Successfully installed colorama-0.4.4
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (0.16.0)

In [ ]:
# Installing H2O
!pip install -f http://h2o-release.s3.amazonaws.com/h2o/latest_stable_Py.html h2o

Looking in links: http://h2o-release.s3.amazonaws.com/h2o/latest_stable_Py.html
WARNING: The repository located at h2o-release.s3.amazonaws.com is not a trusted or secure host and is being ignored. If this repository is available via HTTPS we recommend you use HTTPS instead, otherwise you may silence this warning and allow it anyway with '--trusted-host h2o-release.s3.amazonaws.com'.
Collecting h2o
  Downloading h2o-3.34.0.3.tar.gz (175.8 MB)
     |████████████████████████████████| 175.8 MB 24 kB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from h2o) (2.23.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from h2o) (0.8.9)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from h2o) (0.16.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (1.24.3)
Building wheels for collected packages: h2o
  Building wheel for h2o (setup.py) ... done
  Created wheel for h2o: filename=h2o-3.34.0.3-py2.py3-none-any.whl size=175832480 sha256=0cad55cb9ca3f0575c89e4755d1719d22db1bcfc6466c44a4818985112af2097
  Stored in directory: /root/.cache/pip/wheels/2a/52/cf/01f6938288f0731963463ff72510db67f9f3076f801038b2f7
Successfully built h2o
Installing collected packages: h2o
Successfully installed h2o-3.34.0.3

In [ ]:
import h2o
from h2o.automl import H2OAutoML

In [ ]:
## prepare data
h2o.init()

h2o_train = h2o.H2OFrame(train)
h2o_test = h2o.H2OFrame(test)

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.11" 2021-04-20; OpenJDK Runtime Environment (build 11.0.11+9-Ubuntu-0ubuntu2.18.04); OpenJDK 64-Bit Server VM (build 11.0.11+9-Ubuntu-0ubuntu2.18.04, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.7/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmpqt8qh9c3
  JVM stdout: /tmp/tmpqt8qh9c3/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmpqt8qh9c3/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         02 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.34.0.3
H2O_cluster_version_age:    2 months
H2O_cluster_name:           H2O_from_python_unknownUser_12ijgy
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.172 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.12 final
--------------------------  ------------------------------------------------------------------

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [ ]:
encoded_x_features = list(df_encoded.drop('fraud', axis=1).columns)

In [ ]:
train[y]

8796     0
11679    0
8393     1
7411     1
1611     0
        ..
350      1
79       0
8042     0
6939     0
5643     0
Name: fraud, Length: 9358, dtype: int64

In [ ]:
# Identify predictors and response
x = list(train.columns)
y = "fraud"
x.remove(y)

# For binary classification, response should be a factor
train[y] = train[y].asfactors()
test[y] = test[y].asfactors()

In [ ]:
train[y]

8796     0
11679    0
8393     1
7411     1
1611     0
        ..
350      1
79       0
8042     0
6939     0
5643     0
Name: fraud, Length: 9358, dtype: object

In [ ]:
aml = H2OAutoML(max_models=20,
                seed=1,
                stopping_metric='Auto',
                sort_metric='Auto',
                max_runtime_secs = 600,
                exclude_algos = ["GLM", "DeepLearning"])

aml.train(x=x, 
          y='fraud', 
          training_frame=h2o_train) 
#XRT - Extremely Randomized Trees

## Leaderboard